VITE_API_URL="http://localhost:4000/api"
DATABASE_URL="postgresql://smartrail:smartrail@localhost:5432/smartrail?schema=public"
DATABASE_TEST_URL="postgresql://smartrail:smartrail@localhost:5432/smartrail_test?schema=public"
JWT_SECRET=24140d5906616f97051967460124f8ba78834a709a535249ff9c99e1c286599357c4855fe462189f841c256a134bbb82
PORT=4000
NODE_ENV=development
FRONTEND_URL="http://localhost:5173"
RUN_DB_TESTS=0
INITIAL_ADMIN_EMAIL="siddhibhie@gmail.com"
INITIAL_ADMIN_NAME="Siddhi Bhingole"
INITIAL_ADMIN_PASSWORD="12s34d56f78g90"
