DATABASE_URL="postgresql://smartrail:smartrail@localhost:5432/smartrail?schema=public"
DATABASE_TEST_URL="postgresql://smartrail:smartrail@localhost:5432/smartrail_test?schema=public"
JWT_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
PORT=4000
FRONTEND_URL="http://localhost:5173"
RUN_DB_TESTS=0
NODE_ENV=development
INITIAL_ADMIN_EMAIL=""
INITIAL_ADMIN_NAME=""
INITIAL_ADMIN_PASSWORD=""
